<!-- Post Share TOP Start -->
<div class="post-share bottom clearfix" style="margin-bottom: 5px;">
  <ul>
    <li style="width:100%"><a style="width:100%;" class="facebook df-share" data-sharetip="Share on Facebook!" href="#" rel="nofollow" target="_blank"><i style="margin-right:15px; font-size:30px" class="fa fa-facebook"></i> <span style="font-size:30px;font-weight: bold" class="social-text">Facebook</span></a></li>
  </ul>
</div><!-- Post Share TOP End -->

