<div class="container">
  <div class="row col-xs-12">
    <h1> Contact us </h1>
    author
    email
    your message
  </div>
</div>
<br>
<br>
<br>



<!--     <div class="form-group url optional article_next_url">
      <label class="control-label url optional" for="article_next_url">Next article url ?</label>
      <input class="form-control string url optional" type="url" value="" name="article[next_url]" id="article_next_url">
    </div>

    <input type="submit" name="commit" value="Update" class="btn btn-default btn btn-primary" data-disable-with="Update">
    <a class="btn btn-default" href="/articles">Back to articles</a> -->

